/build/
/dist/
/external/JUCE/
/editor-preview.png
/.vs/
/.idea/
/.vscode/
CMakeUserPresets.json
*.als
*.mid
*.midi
*.sfz
*.rom
*.bin
*.7z
*.log
*.pdb
*.ilk
*.obj
*.lib
*.dll
*.user
*.sf2
*.zip
*.wav
*.exe
